:root {
  --selected_color: black;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgba(228, 226, 213, 0.329);
  margin-top: 15px;
}

form {
  cursor: none;
  width: 10%;
}
#color_picker {
  cursor: pointer;
}

.labeltxt:hover {
  color: blue;
  transform: scale(1.1);
  transition: 0.2s ease-in;
  font-weight: bold;
}

#colorselectorbox {
  margin: 0 auto;
  width: 1500px;
  display: grid;
  border-top-style: groove;
  border-bottom-style: groove;
}

#buttons {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  margin-top: 0;
}
.color_container {
  display: flex;
  justify-content: center;
}

.color_box {
  width: 200px;
  height: 400px;
  padding: 1px;
}

.color_1,
.color_2,
.color_4,
.color_5,
.base_color {
  width: 200px;
  height: 150px;
  background-color: white;
  margin-top: 10px;
}

.base_color {
  width: 198px;
  height: 148px;
  border: 1px solid rgb(189, 22, 50);
}

p {
  font-size: 11px;
  margin: 3px 0 3px 2px;
}

label {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: thin;
  padding: 5px;
  cursor: pointer;
}

h2 {
  font-size: 13px;
  margin: 50px 0 5px 0;
  text-transform: uppercase;
}
